head {
    border: blue solid;
}
body {
    background-color: black;  
    background-image: url(img/bg.jpg);
    background-position: left bottom;
    background-size: 500px;
    background-repeat: no-repeat;
    background-attachment:fixed;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden
  }

iframe {
    background-image: none;
  }

#header {
    color: rgba(201, 72, 12, 0.767);
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
}

#menu img{
    max-height: 50px;
}

#links {
    position: absolute;
    left: 10px;
    list-style-type: none;
    background-color: gray;
    width: 300px;
    margin: 20px;
    font-size: 20px;
    max-height: 500px;
    text-align: left;
    border-radius: 25px;
    border: rgba(201, 72, 12, 0.767) solid;
}

a:link {
    color: rgb(83, 7, 7);
}

a:visited {
    color: rgb(161, 12, 42);
}

li {
    margin-left: 30px;
    list-style-type: circle;
}

h3 {
    margin-left: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    text-transform: capitalize;
}

#main {
    position: relative;
    left: 450px;
}

#content {
    border: rgba(201, 72, 12, 0.767) solid;
    margin: 20px;
    background-color: grey;
    max-width: 50%;
    /*position: relative;*/
    text-align: left;
    font-size: 17px;
    border-radius: 25px;
}

p {
    margin: 20px;
}

h2 {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: rgba(104, 21, 6, 0.767);
}

#footer {
    color: grey;
    font-size: 12px;
    position: fixed;
    left: 477px;
    bottom: 0%;
    text-align: center;
    width: 50%;
    background-color: black;
    border-top: rgba(201, 72, 12, 0.767) solid;
    padding-top: 5px;
}

#page {
    
}

h4 {
    font-size: 12px;
    margin: 20px;
    font-weight: 100;
}

img {
    max-width: 500px;
}

#desc {
    margin-left: 20px;
}